@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes slowBounce {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: ease-in-out;
  }

  50% {
    transform: translateY(-6px);
    animation-timing-function: ease-in-out;
  }
}

.animate-slow-bounce {
  animation: slowBounce 3s infinite;
}
html {
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
@keyframes marquee {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  width: max-content;
  animation: marquee 30s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}
